# Special project binaries:

/chessproblem-*/
/chessproblem/chessproblem

# autotools directories:
/tmp*/
/autom4te.cache/
/config/
/m4/

# autotools files:
/ABOUT-NLS
/a.out
/aclocal.m4
/ar-lib
/compile
/confdefs.h
/config.guess
/config.h
/config.log
/config.rpath
/config.status
/config.sub
/configure
/conftest*
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/test-suite.log

# General patterns are last:
!*.in
!*Makefile.am
.deps/
.libs/
*.dirstamp
*.exe
*.la
*.lo
*.o
*.pc
*.o-*
*.o.*
*.obj
*Makefile
*Makefile.in
*Makefile.in.in
*tags
*~
*.tar
*.tar.?
*.tar.??
*.tar.???
